:root {
  --bg1: #25292b;
  --bg2: #1e2123;
  --bg3: #333;
  --accent: #fff;
  --accentColored: #80266e;
  --accentColoredBright: #ed39c9;
  --accentColoredDark: #9b2e85;
  --accentDelete: #9b2e2e;
  --shadow: rgba(0, 0, 0, 0.3);
	--kanbie-logo-hue-rotate: 180deg;
	--kanbie-logo-grayscale: 0;
}

::-webkit-scrollbar {
  position: absolute;
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--bg1);
}

::-webkit-scrollbar-thumb {
  background: var(--bg2); 
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accentColored); 
}

body {
  overflow-x: hidden;
  width: 700px;
  height: 520px;
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg1);
  font-size: medium;
}

.kanbie-logo {
  margin: -10px;
  padding-top: 3px;
}

.kanbie-logo-color {
	filter: hue-rotate(var(--kanbie-logo-hue-rotate)) grayscale(var(--kanbie-logo-grayscale));
}

.header-container {
  display: flex;
  justify-content: center;
}

.header {
  text-align: center;
  font-size: 20px;
  padding: 20px;
  color: var(--accentColoredBright);
  font-weight: 200;
}

.main-container {
  display: flex;
  justify-content: center;
  height: 1000px;
}

.column-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

.column-heading {
  color: var(--accent);
  margin: 4px;
  padding-left: 4px;
  padding-top: 2px;
  padding-bottom: 12px;
  overflow: hidden;
  text-overflow: clip;
  max-width: 160px;
}

.column-heading-editing {
  color: var(--accent);
  padding-left: 4px;
  margin-bottom: 10px;
  border: 2px solid var(--accentColoredDark);
  box-shadow: 1px 1px 4px var(--shadow);
  background-color: var(--bg1);
  border-radius: 4px;
  outline: none;
}

.droppable-container {
  width: 200px;
  border-radius: 10px;
  padding: 10px;
  margin-left: 4px;
  margin-right: 4px;
  box-shadow: 1px 1px 4px var(--shadow);
  margin-bottom: 20px;
  transition: all 0.2s;
}

.droppable-trash {
  width: 20px;
  position: absolute;
  top: 0;
  right: 50px;
  margin: 12px;
}

.droppable-clear-all {
  width: 20px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 12px;
  background-color: var(--bg2);
}

.droppable-clear-all:hover {
  background-color: var(--accentDelete);
  cursor: pointer;
}

.delete-me-text {
  height: 0;
  width: 0;
  opacity: 0;
  color: var(--accent);
  position: absolute;
  margin-top: -20px;
  margin-left: 100px;
  overflow: hidden;
}

.transitioner {
  display: inherit;
  width: 100px;
  height: auto;
  opacity: 1;
  transition: opacity 0.35s ease-in;
}

.column-container {
  min-height: 400px;
  padding-top: 50px;
  margin-top: -62px;
  border-style: solid;
}

.draggable-card {
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 8px;
  box-shadow: 1px 1px 4px var(--shadow);
  color: var(--accent);
  font-size: smaller;
  word-break: break-word;
}

.delete-icon {
  margin-bottom: -5px;
  margin-left: -2px;
}

.delete-all-icon {
  margin-bottom: -5px;
  margin-left: -2px;
}


.add-icon {
  margin-top: -1px;
  margin-left: -2px;
}

.button-icon {
  transform: scale(1);
}

.button-icon:active {
  transform: scale(0.9);
}

.add-button-container {
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  width: 20px;
  height: 20px;
}

.add-button-container:active {
  transform: scale(0.9);
}

.add-button-container:not(:hover) {
  background-color: var(--accentColored);
  transition: all 0.1s;
}

.add-button-container:hover {
  background-color: var(--accentColoredDark);
  transition: all 0.1s;
  cursor: pointer;
}

.labels-button-container {
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  margin-left: 60px;
  width: 20px;
  height: 20px;
}

.labels-button-container:active {
  transform: scale(0.9);
}

.labels-button-container:not(:hover) {
  background-color: var(--accentColored);
  transition: all 0.1s;
}

.labels-button-container:hover {
  background-color: var(--accentColoredDark);
  transition: all 0.1s;
  cursor: pointer;
}

.remove-label-icon {
	padding-left: 4px;
	width: 20px;
	height: 20px;
	filter: brightness(1.4);
}

.remove-label-icon:hover {
	filter: brightness(1);
}

.remove-label-icon:active {
	transform: scale(0.9);
}

.settings-button-container {
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  margin-left: 108px;
  width: 20px;
  height: 20px;
}

.settings-button-container:active {
  transform: scale(0.9);
}

.settings-button-container:not(:hover) {
  background-color: var(--accentColored);
  transition: all 0.1s;
}

.settings-button-container:hover {
  background-color: var(--accentColoredDark);
  transition: all 0.1s;
  cursor: pointer;
}


.input-container {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 10px;
  margin-top: 60px;
  border: 2px solid var(--accentColoredDark);
  box-shadow: 1px 1px 4px var(--shadow);
  background-color: var(--bg1);
  border-radius: 10px;
}

.input-container-inplace {
  margin-bottom: 8px;
  border: 2px solid var(--accentColoredDark);
  box-shadow: 1px 1px 4px var(--shadow);
  background-color: var(--bg1);
  border-radius: 10px;
}

.input-add {
  background-color: var(--bg1);
  min-height: 100px;
  border-radius: 10px;
  width: 220px;
}

.input-add-inplace {
  background-color: var(--bg1);
  border-radius: 10px;
  width: 100%;
}

.labels-list {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--bg1);
  padding: 2px;
  border: 2px solid var(--accentColoredDark);
  margin-top: 60px;
  margin-left: 60px;
  padding: 8px;
  color: var(--accent);
  width: max-content;
  border-radius: 10px;
  transform: none;
  max-height: 300px;
  overflow-y: auto;
}

.label-item {
  font-size: smaller;
  margin: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.label-item-text {
  padding: 4px 6px;
  border-radius: 6px;
}

.label-item-action-container {
  padding-left: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.curr-labels-container {
  border-top: 1px solid var(--bg3);
  padding: 8px 4px;
  margin-top: 2px;
  color: var(--accent);
  font-size: small;
  display: flex;
  flex-direction: row;
}

.curr-label-item {
  padding: 2px 6px;
  margin: 0 2px;
  border-radius: 10px;
	display: flex;
	align-items: center;
}

.curr-time-container {
	background-color: var(--accentColored);
	border-radius: 8px;
	padding: 3px;
}

.card-label-container {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: -3px;
  margin-right: -6px;
}

.card-label-item {
  margin-top: 4px;
  margin-right: 3px;
  border-radius: 10px;
  padding: 3px 6px;
  font-size: small;
}

.label-input {
  border: 1px solid var(--bg3);
}

 /* --> Styles required from react-mentions */
.mentions__control {
  font-family: 'Roboto', sans-serif;
  font-size: smaller;
  margin-left: 4px;
  margin-right: 4px;
}
.mentions__highlighter {
  padding: 8px;
  width: 100%;
  overflow-wrap: normal !important;
  white-space: pre-wrap;
  outline: none;
}
.mentions__input {
  border: none;
  outline: none;
  padding: 8px;
  outline: none;
  color: var(--accent);
}
.mentions__suggestions__list {
  background-color: var(--bg1);
  box-shadow: 2px 2px 8px 0px var(--shadow);
}
.mentions__suggestions__item {
  padding: 5px 10px;
  color: var(--accent);
  font-size: smaller;
}
.mentions__suggestions__item--focused {
  background-color: var(--bg3);
}
